@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>e-Perpustakaan</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            e-Perpustakaan will help you to manage many kind of librarian's job. It is easy to use and give more simplicity.
        </p>
        
    </div>
   
</div>