@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>e-Perpustakaan</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/image/clock.jpg" alt="" style="border: 5px black" class="home">
        <div class="container">
            <h2>24/7 Access</h2>
            <p>Librarian can gain access 24/7 to its information</p>
        </div>
    </div>

    <div class="col-md-4">
        <img src="~/image/angka.jpg" alt="" style="border: 5px black" class="home">
        <div class="container">
            <h2>Easy Access</h2>
            <p>Librarian can access from any place at any time</p>
        </div>
    </div>

    <div class="col-md-4">
        <img src="~/image/computer-1.jpg" alt="" style="border: 5px black" class="home">
        <div class="container">
            <h2>Multiple Access</h2>
            <p>Many librarian can access website at the same time</p>
        </div>
    </div>
</div>